
.demo{
    background-color: rgba(0.8,0.8,0.8,0.95);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

}

img{
    margin: 5px;
    
}

/* tablet view */
@media all and (max-width: 1140px){
    img{
      max-width: 80%;
    height: auto;
    }
}

/* inbetween view */
@media all and (max-width: 750px){
    img{
      max-width: 64%;
    height: auto;
    }
}

/* mobile view */
@media all and (max-width: 500px){
    img{
      max-width: 50%;
    height: auto;
    }
}