

.create{
    display: flex;
    justify-content: center;
}

.build{
    align-content: center;
    align-items: center;
    text-align: left;
    font-size: 25px;
    font-family: Cambria;
}

.submit{
    margin:10px;
    background-color: rebeccapurple;
    font-size: 30px;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}